#carousel-hero {
  height: 33%;
}

#under-hero {
  margin-top: 1vh;
}

#card-row {
  margin: 10vh;
}

.table-header-text {
  font-size: 3vh;
}

footer {
  color: #b84c4c;
}

#submit-btn {
  border: none;
}